<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-center">
        <div class="card w-50">
            <div class = "card-header text-center">
              StockMinder - Hesabı Düzenle
            </div>  
            <div class="card-body">
                <div class="row p-2">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <div class="mb-3">
                      <%= f.label :email, class:"form-label" %>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",  disabled: "true" %>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="mb-3">
                      <%= f.label :password, "Şifre", class:"form-label" %> <i>(Değişiklik yapmak istemiyorsanız boş bırakın)</i><br />
                      <%= f.password_field :password, autocomplete: "new-password", class:"form-control"  %>
                      <% if @minimum_password_length %>
                        <br />
                        <em>Yeni şifreniz en az <%= @minimum_password_length %> karakter içermelidir</em>
                      <% end %>
                    </div>

                    <div class="mb-3">
                      <%= f.label :password_confirmation, "Şifre Tekrar", class:"form-label" %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
                    </div>

                    <div class="mb-3">
                      <%= f.label :current_password, "Aktif Şifre", class:"form-label" %>
                      <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
                    </div>

                    <div class="actions text-center">
                      <%= f.submit "Bilgileri Güncelle", class: "btn btn-outline-success" %>
                    </div>
                  <% end %>

                  <div class="my-4 border-top pt-3">
                    <h5>Hesabını silmek mi istiyorsun ?</h5>
                     <%= button_to "Hesabımı Sil", registration_path(resource_name), data: { confirm: "Hesabınızı silmek istediğinize emin misiniz?", turbo_confirm: "Hesabınızı silmek istediğinize emin misiniz?" }, method: :delete, class: "btn btn-danger btn-md float-end" %>
                      <%= link_to "Geri Dön", :back, class: "btn btn-secondary btn-md mt-5" %>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

