<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-center">
        <div class="card w-50">
            <div class = "card-header text-center">
              StockMinder - Üye ol
            </div>  
            <div class="card-body">
                <div class="row p-2">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="mb-3">
                      <%= f.label :email, class: "form-label" %>
                      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
                    </div>

                    <div class="mb-3">
                      <%= f.label :password, class: "form-label" %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
                    </div>

                    <div class="mb-3">
                      <%= f.label :password_confirmation, class: "form-label" %>
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                    </div>

                    <div class="actions text-center">
                      <%= f.submit "Üye ol", class: "btn btn-outline-success" %>
                    </div>

                    <%= render "devise/shared/links" %>

                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

