<% if stock.errors.any? %>
  <% stock.errors.each do |error| %>
    <div class="alert alert-danger my-5" role="alert">
      <%= error.full_message %>
    </div>
  <% end %>
<% end %>
<% stock = @stock %>
<%= form_with(model: stock) do |form| %>
  <div class="row">
     <div class="row mb-3">
      <div class="row">
        <div class="col-md-2">
          <%= form.label :ticker, class: "form-label" %>
        </div>
        <div class="col-md-10">
           <%= form.text_field :ticker, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="row">
        <div class="col-md-2">
          <%= form.label :company_name, class: "form-label" %>
        </div>
        <div class="col-md-10">
          <%= form.text_field :company_name, class: "form-control", required: true, minlength: 2 %>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="row">
        <div class="col-md-2">
          <%= form.label :purchase_date, class: "form-label" %>
        </div>
        <div class="col-md-10">
          <%= form.date_field :purchase_date, class: "form-control", value: Date.today %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col text-end">
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit "Kaydet", class: "btn btn-primary btn-md" %>
      </div>
    </div>
  </div>
<% end %>
