<% if stock.errors.any? %>
  <% stock.errors.each do |error| %>
    <div class="alert alert-danger my-5" role="alert">
      <%= error.full_message %>
    </div>
  <% end %>
<% end %>
<%= form_with(model: stock) do |form| %>
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex">
        <%= form.label :ticker, class: "form-label" %>
        <%= form.text_field :ticker, class: "form-control", size: 2 %>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= button_to form.submit, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
