<td>#<%= stock.id %></td>
<td><%= stock.ticker %></td>
<td><%= stock.company_name %></td>
<td><%= stock.purchase_date %></td>
<td><%= stock.created_at %></td>
<td>
  <div class="d-flex justify-content-center">
    <% @stock = stock%>
    <%= link_to "Düzenle", edit_stock_path(@stock), class: "btn btn-sm btn-primary mx-2" %>
    <%= button_to "Sil", stock, method: :delete, class: "btn btn-sm btn-danger mx-2" %>
  </div>
</td>
